@import '~bootstrap/scss/bootstrap';

// homepage
body {
  background-color: antiquewhite;

  h1,
  h2 {
    color: #493200;

    a {
      color: #567a00;

      &:hover {
        color: #90ce00;
      }
    }
  }

  ul {
    list-style: none;

    .card {
      width: 160px;
      height: 160px;
      background-color: #fffaf6;

      a {
        text-decoration: none;
        color: #493200;
      }
    }
  }
}

// pagina santo
.my_saint {
  font-size: 2rem;

  span {
    color: #690000;
    text-decoration: underline;
  }
}

// form
form {
  max-width: 420px;
  margin: 50px auto;

  .feedback-input {
    color: #070707;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: none;
    line-height: 22px;
    background-color: #F0EFEE;
    border: 1px solid #e6622e;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    outline: 0;

    &:focus {
      border: 1px solid #cc5d49;
    }
  }


  [type="submit"] {
    width: 100%;
    background: #e6622e;
    border-radius: none;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 14px;

    &:hover {
      background: #cc5d49;
    }
  }

}